{% extends "lizard/base.html" %}

{% block title %}
Flooding: "Loggings"
{% endblock %}

{% block content %}
<div style="overflow:auto">
<table class="timeseriesWrapper">
  <th>Workflow</th>
  <th>Task</th>
  <th>Log Level</th>
  <th>Message</th>
  <th>Time</th>
{% for logging in loggings %}
    <tr>
      <td>{{ logging.workflow }}</td>
      <td>{{ logging.task }}</td>
      <td>{{ logging.level }}</td>
      <td>{{ logging.message }}</td>
      <td>{{ logging.time }}</td>
    </tr>
{% endfor %}
</tabel>
</div>

{% endblock %}

